.App {
  font-family: sans-serif;
  text-align: center;
  color: #151515;
  background: pink;
  min-height: 100vh;
}

.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2.5rem;
  padding: 1rem;
  border-radius: 1em;
  background-color: #aabbff;
  border: 2px solid white;
}

.todo button {
  border-radius: 0.5em;
  border: 2px solid white;
  background-color: pink;
}

.todo-details {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.todo-details p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo-details p span:first-child {
  font-size: 1rem;
  font-weight: bold;
}

.todo-details p span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.todo-details p input {
  margin-left: 1rem;
}
/* End of todo UI styles */

/* Form styles */

.edit form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edit label {
  display: block;
  margin: 1rem 0;
}

.edit input {
  height: 0.1rem;
  border: 2.5px solid white;
  border-radius: 0.5rem;
}

.edit button {
  background-color: black;
}
/* End of form styles */
